:root {
	--puzoColor: #a35c0af0;
}

* {
	padding: 0;
	margin: 0;
	z-index: 1;
}

h1 {
	color: black;
}

.background {
	position: fixed;
	z-index: -1;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 2%;
}

h1 {
	margin-top: 0.3em;
	font-size: 500%;
}

.information {
	width: 70%;
	background-color: var(--puzoColor);
	margin-top: 2%;
	padding: 1%;
}

.left {
	margin-left: -30%;
}

.right {
	margin-right: -30%;
}

.at {
	color: red;
	background-color: black;
}

.button{
  border: 0.1rem solid black;
  outline: 0;
  color: #fff;
  text-align: center;
  letter-spacing: 0.01rem;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  color: black;
  height: 1rem;
  width: 70vw;
  padding: 0.6em;
  margin-top: 0.5rem;
}

.button:hover{
  background-color: pink;
}

.header {
	background-color: black;
	color: var(--puzoColor);
	width: 100%;
	text-align: center;
	padding: 0.5%;
}

.tomain {
	position: fixed;
	display: black;
	overflow: none;
	width: 100%;
	text-align: center;
	padding: 0.5rem;
	top: -0.6rem;
	height: 1rem;
	padding-top: 0.1rem;
	z-index: 10;
}