* {
	padding: 0;
	margin: 0;
	z-index: 1;
}

.background {
	position: fixed;
	z-index: -1;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 2%;
}

h1 {
	font-size: 500%;
}

.information {
	width: 50%;
	background-color: #a35c0af0;
	margin-top: 2%;
	padding: 1%;
}

.left {
	margin-left: -50%;
}

.right {
	margin-right: -50%;
}